extends layout
block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
block content
  div.navbar
    div.navbar-inner
      a.brand(href="#") Seeing The Forest
      ul.nav
        li
          a.disabled(href= "", ng-click="toggleLogin()") Login
        li
          a.disabled(href="", ng-click="toggleRegister()") Register
        li 
        li.divider-vertical
        li.pull-right
          a.disabled(href="#" class = "pull-right") {{site.message}}
  div(collapse = "site.isLoginCollapsed")
    div(class = "well")
      form(novalidate, ng-submit="login()")
        input(type="text", placeholder="user name", ng-model="pUser.userName")
        input(type="password", placeholder="password", ng-model="pUser.password", id="password")
        button.btn(type="submit") Login
  div(collapse = "site.isRegisterCollapsed")
    div(class = "well")
      div(class="form-view-{{site.createVisible}}")
        form(novalidate, ng-submit="createUser()")
          input(type="text", placeholder = "username", ng-model="cUser.userName")
          input(type="password", placeholder = "password", ng-model="cUser.password")
          input(type="text", placeholder = "e-mail", ng-model="cUser.email")
          br
          input(type="text", placeholder = "first name", ng-model="cUser.firstName")
          input(type="text", placeholder = "last name", ng-model="cUser.lastName")
          button.btn(type="submit") Register
  div.row-fluid(ng-controller = "TeamController", data-ng-init="updateTeams()", ng-cloak)
    div.span4(id="team-viewing-holder")
      br
      div.btn-group
        button.btn(ng-click="toggleTeams()", tooltip-placement="top", tooltip="Start here!") Teams
        button.btn(ng-click="toggleProjects()") Projects
        button.btn(ng-click="toggleTasks()") Tasks
      div(collapse="site.collapsedTeams")
        div.well
          tabset
            tab(heading="New Team")
              form(novalidate, ng-submit="createTeam()")
                input.span2(type="text", placeholder = "A Cool Name", ng-model="nTeam.name")
                input.span2(type="text",placeholder = "Member #", ng-model="nTeam.memberCap")
                button.btn(type="button", btn-checkbox, ng-model="nTeam.open") Visible
                br
                textarea.span4(placeholder = "A Lengthy Description", ng-model="nTeam.description")
                button.btn(type="submit", tooltip-placement="right", tooltip="Create a team called '{{nTeam.name}}'") Create
            tab(heading="Your Teams")
              div
                select(ng-model="activeTeam", ng-options="team.name for team in teams",ng-change="teamSwitch()")
                button.btn(ng-click="toggleTeamDetails()") Details
                div.row-fluid(collapse="site.collapseTeamDetails")
                  div.span2
                    label(class="success",ng-model="activeTeam.open") {{activeTeam.status}}
                  div.span2 Members:
                    ul(ng-repeat="person in activeTeam.members") 
                      li {{person}}
                  div.span4
                    p {{activeTeam.description}}
                    button.btn(class="btn-warning",type="button",ng-click="leaveTeam()") Leave Team
            tab(heading="Public Teams") 
              div
                select(ng-model="activePublicTeam", ng-options="publicTeam.name for publicTeam in publicTeams")
                button.btn(ng-click="joinTeam()") Join
          div(collapse="teamAlert.collapse")
            alert(type="teamAlert.type",close="teamAlert.collapse = true")
              {{teamAlert.message}}
    div.span8(ng-controller="ProjectController")
      h2 {{activeTeam.name}} - {{activeProject.name}}
      div(collapse="site.collapsedProjects")
        div.well
          tabset
            tab(heading="Your Projects")
              ul(class="nav-pills nav-stacked nav", ng-repeat ="project in userProjects")
                li(ng-click="displayProject(project)")
                  a.disabled(href="") {{project.name}}
                div(collapse="project.collapse")
                  p {{project.description}}
                  button.pull-right(type="button", ng-click="leaveProject(project)") Leave Project
            tab(heading="Team Projects")
              ul(class="nav-pills nav-stacked nav", ng-repeat ="project in projects")
                li(ng-click="displayProject(project)")
                  a.disabled(href="") {{project.name}}
                div(collapse="project.collapse")
                  p {{project.description}}
                  button(type="button",ng-click="joinProject(project)") Join Project
          button.btn-block(type="button", class="disabled btn-info", ng-click="site.collapseAddProject=!site.collapseAddProject") Add another project
          br
          div(collapse="site.collapseAddProject")
            form(novalidate,ng-submit="addProject()")
                input(type="text",placeholder="project name", ng-model="nProject.name")
                textarea(placeholder="just another project description", ng-model="nProject.description")
                button.btn(type="submit") Create Project
          div(collapse="projectAlert.collapse")
            alert(type="projectAlert.type",close="projectAlert.collapse = true")
              {{projectAlert.message}}
      div(ng-controller="TaskController")
        div(collapse="site.collapsedTasks")
          div.well
            tabset
              tab(heading="New Task")
                form(novalidate,ng-submit="addTask()")
                  input(type="text",placeholder="Pithy Title", popover = "Short Task Title", popover-trigger="mouseenter",ng-model="nTask.name")
                  textarea(placeholder="Lengthy Description",ng-model="nTask.description")
                  input(type="text",placeholder="Minimum Seeders",ng-model="nTask.seedMin")
                  button.btn(type="submit") Submit
              tab(heading="Your Tasks")
                ul(ng-repeat="task in userTasks")
                  li
                    input(type="checkbox",tooltip-placement="bottom",tooltip="Mark Complete") 
                    strong(tooltip = "View log", tooltip-placement="top" ng-click="task.collapseChangeLog = !task.collapseChangeLog") 
                      {{task.name}}:
                    em {{" " + task.description}}
                    button.pull-right(class="btn btn-small btn-error", ng-click = "deleteTask(task)") Delete
                    div(collapse = "task.collapseChangeLog")
                      form(ng-submit="updateTask(task)")
                        input(type="text", placeholder="Any updates?", ng-model="task.newChange")
                        button.btn(type="submit") Update
                      ul(ng-repeat="change in task.changelog")
                        li 
                          i {{change}}
              tab(heading="Project Tasks")
                select(ng-model="activeProjectTask",ng-options="task.name for task in projectTasks")
            div(collapse="taskAlert.collapse")
              alert(type="taskAlert.type",close="taskAlert.collapse = true")
                {{taskAlert.message}}