extends layout
block head
  //link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
block content
  div(ng-controller="UserController", ng-cloak, ng-model="site",data-ng-init="checkSession()")
    div(class="fade menu")
      br
      p {{site.message}}
      div(ng-hide="site.loggedIn")
        div(class="form-view-{{site.loginVisible}}")
          form(novalidate, ng-submit="login()")
            input(type="text", placeholder="user name", ng-model="pUser.userName")
            input(type="password", placeholder="password", ng-model="pUser.password", id="password")
            button.btn(type="submit") Login
        div(class="form-view-{{site.createVisible}}")
          form(novalidate, ng-submit="createUser()")
            input(type="text", placeholder = "username", ng-model="cUser.userName")
            input(type="password", placeholder = "password", ng-model="cUser.password")
            input(type="text", placeholder = "e-mail", ng-model="cUser.email")
            br
            input(type="text", placeholder = "first name", ng-model="cUser.firstName")
            input(type="text", placeholder = "last name", ng-model="cUser.lastName")
            button.btn(type="submit") Register
          br
        br
    div.team-details(ng-controller="TeamController", data-ng-init="updateTeams(Team)")
      div.current-teams
        h2 Your Teams
        select(ng-model="activeTeam", ng-options="team.name for team in teams")
          br
        br
        div.activeTeam(ng-model="activeTeam")
          h3 Current Team
          t Name: {{activeTeam.name}}
          br
          t Open: {{activeTeam.open}}
          br
          t Members:
          div(ng-repeat="person in activeTeam.members") 
            t {{person}}
          t Projects:
          div(ng-repeat="project in activeTeam.projects")
            t {{project}}
          form(novalidate,ng-submit="addProject()")
            input(type="text",placeholder="project name", ng-model="nProject.name")
            br
            input(type="textarea",placeholder="just another project description", ng-model="nProject.description")
            button.btn(type="submit") Create Project
      div.existing-teams
        h2 Public Teams
        select
          option(ng-repeat="publicTeam in publicTeams", value = "{{publicTeam.name}}")
            {{publicTeam.name}}
        br
        br
      div.new-teams
        h2 New Team
        form(novalidate, ng-submit="createTeam()")
          input(type="text", placeholder = "name", ng-model="nTeam.name")
          input(type="text",placeholder = "member cap", ng-model="nTeam.memberCap")
          br
          t Visible
          input(type="checkbox", ng-model="nTeam.open")
          button.btn(type="submit") Create
        br
        br
      br
    div.container(ng-controller="TodoListController")
      h1 Filler Title
      h2 Add New Task
      form(novalidate, ng-submit="addNewTodo()")
        textarea( ng-model="newTodo.description",
                  placeholder="Description")
        br
        div.cal(ng-model="newTodo.due"): datepicker()
        br
        button.btn.btn-primary(type="submit") Add Todo
      h2 Upcoming
      div
        div.row.todo.not-done(ng-repeat="todo in todos | filter:notDoneFilter")
          div.span9
            label.checkbox
              input(type="checkbox", ng-model="todo.done", ng-change="update(todo)")
              | {{todo.description}}
          div.span3.text-right
            i Due on {{todo.due | date:'MMM d, yyyy'}}
      h2 Done
      div
        div.row.todo.done(ng-repeat="todo in todos | filter:doneFilter")
          div.span9
            label.checkbox
              input(type="checkbox", ng-model="todo.done", ng-change="update(todo)")
              del {{todo.description}}
          div.span3.text-right
            i {{todo.due | date: 'MMM d, yyyy'}}