extends layout
block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
block content
  div.navbar
    div.navbar-inner
      a.brand(href="#") Seeing The Forest
      ul.nav
        li
          a.disabled(href= "#", ng-click="toggleLogin()") Login
        li
          a.disabled(href="#", ng-click="toggleRegister()") Register
        li 
        li.divider-vertical
        li.pull-right
          a.disabled(href="#" class = "pull-right") {{site.message}}
  div(collapse = "site.isLoginCollapsed")
    div(class = "well")
      form(novalidate, ng-submit="login()")
        input(type="text", placeholder="user name", ng-model="pUser.userName")
        input(type="password", placeholder="password", ng-model="pUser.password", id="password")
        button.btn(type="submit") Login
  div(collapse = "site.isRegisterCollapsed")
    div(class = "well")
      div(class="form-view-{{site.createVisible}}")
        form(novalidate, ng-submit="createUser()")
          input(type="text", placeholder = "username", ng-model="cUser.userName")
          input(type="password", placeholder = "password", ng-model="cUser.password")
          input(type="text", placeholder = "e-mail", ng-model="cUser.email")
          br
          input(type="text", placeholder = "first name", ng-model="cUser.firstName")
          input(type="text", placeholder = "last name", ng-model="cUser.lastName")
          button.btn(type="submit") Register
  div(ng-controller = "TeamController", data-ng-init="updateTeams()", ng-cloak)
    div.span5(id="team-viewing-holder")
      t Current Selection: {{activeTeam.name}} / {{activeProject.name}}
      br
      div.btn-group
        button.btn(ng-click="toggleTeams()") Teams
        button.btn(ng-click="toggleProjects()") Projects
        button.btn(ng-click="toggleTasks()") Tasks
      div(collapse="site.collapsedTeams")
        div.well
          tabset
            tab(heading="Your Teams")
              div.span4
                select(ng-model="activeTeam", ng-options="team.name for team in teamData.teams", ng-change="getProjects()")
                button.btn(ng-click="site.viewTeamDetails=!site.viewTeamDetails") Details
                div(collapse="site.viewTeamDetails")
                  div.span2
                    button.btn-mini(class="btn-success",type="button", btn-checkbox, ng-model="activeTeam.open") Open
                  div.span2 Members:
                    ul(ng-repeat="person in activeTeam.members") 
                      li {{person}}
                  div.span4
                    button.btn(class="btn-warning",type="button",ng-click="leaveTeam()") Leave Team
            tab(heading="Public Teams") 
              select(ng-model="activePublicTeam", ng-options="publicTeam.name for publicTeam in teamData.publicTeams")
              button.btn(ng-click="joinTeam()") Join
            tab(heading="New Team")
              form(novalidate, ng-submit="createTeam()")
                input(type="text", placeholder = "name", ng-model="nTeam.name")
                input(type="text",placeholder = "member cap", ng-model="nTeam.memberCap")
                button.btn(type="button", btn-checkbox, ng-model="nTeam.open") Visible
                button.btn(type="submit") Create
      div(collapse="site.collapsedProjects")
        div.well
          tabset
            tab(heading="Your Projects")
              select(ng-model="activeUserProject",ng-options="project.name for project in userProjects")
              button.btn-small(type="button",ng-click="site.collapseOwnProjectDetails=!site.collapseOwnProjectDetails") Details
              div(collapse="site.collapseOwnProjectDetails")
                strong {{activeUserProject.name}}
                br
                small {{activeUserProject.description}}
                br
                t Members 
                button.btn-small(type="button",ng-click="leaveProject()") Leave Project
                small(ng-repeat="person in activeUserProject.people") {{person}}
            tab(heading="Team Projects")
              select(ng-model="activeProject",ng-options="project.name for project in projects", ng-change="getTasks()")
              button.btn-small(type="button",ng-click="site.collapseTeamProjectDetails=!site.collapseTeamProjectDetails") Details
              div(collapse="site.collapseTeamProjectDetails")
                strong {{activeProject.name}}
                br
                small {{activeProject.description}}
                br
                t Members
                button.btn-small(type="button",ng-click="joinProject()") Join Project
                br
                small(ng-repeat="person in activeProject.people") {{person}}
            tab(heading="New Project")
              form(novalidate,ng-submit="addProject()")
                input(type="text",placeholder="project name", ng-model="nProject.name")
                textarea(placeholder="just another project description", ng-model="nProject.description")
                button.btn(type="submit") Create Project
      div(collapse="site.collapsedTasks")
        div.well
          tabset
            tab(heading="Your Tasks")
            tab(heading="Project Tasks")
            tab(heading="New Task")
              form(novalidate,ng-submit="addTask()")
                
    div.span11
      canvas(id="canvas")